body{
  overflow-x: hidden;
}
.my-heading {
  border-radius: 2px;
  background: linear-gradient(#ffffffa9, #212529);
  margin-top: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 0.5rem !important;
  border-radius: 0%;
}
h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.one {
  color: red;
}
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}
.content-wide {
  max-width: 1300px;
}
label[ptype] {
  border: solid rgba(245, 245, 245, 0.358) 2px;
  border-radius: 15px;
  text-shadow: 0 1px 0 black, 0 0 1px rgba(0, 0, 0, .6), 0 0 2px rgba(0, 0, 0, .7), 0 0 3px rgba(0, 0, 0, .8), 0 0 4px rgba(0, 0, 0, .9);
  font-size: 1.1rem;
  --bs-btn-hover-border-color:var(--bs-btn-hover-bg);
  line-height: 1.25rem;
}
label[ptype="Normal"] {
  background-color: var(--normal-bg, #c2beb7);
  --bs-btn-hover-bg: var(--normal-hover-bg, #8A8A60);
}
label[ptype="Fire"] {
  background-color: var(--fire-bg, #F08030);
  --bs-btn-hover-bg: var(--fire-hover-bg, #D87040);
}
label[ptype="Water"] {
  background-color: var(--water-bg, #6890F0);
  --bs-btn-hover-bg: var(--water-hover-bg, #5172B0);
}
label[ptype="Electric"] {
  background-color: var(--electric-bg, #F8D030);
  --bs-btn-hover-bg: var(--electric-hover-bg, #D2B82C);
}
label[ptype="Grass"] {
  background-color: var(--grass-bg, #78C850);
  --bs-btn-hover-bg: var(--grass-hover-bg, #639A44);
}
label[ptype="Ice"] {
  background-color: var(--ice-bg, #98D8D8);
  --bs-btn-hover-bg: var(--ice-hover-bg, #81C9C9);
}
label[ptype="Fighting"] {
  background-color: var(--fighting-bg, #C03028);
  --bs-btn-hover-bg: var(--fighting-hover-bg, #A82820);
}
label[ptype="Poison"] {
  background-color: var(--poison-bg, #A040A0);
  --bs-btn-hover-bg: var(--poison-hover-bg, #873B87);
}
label[ptype="Ground"] {
  background-color: var(--ground-bg, #E0C068);
  --bs-btn-hover-bg: var(--ground-hover-bg, #B59E5A);
}
label[ptype="Flying"] {
  background-color: var(--flying-bg, #A890F0);
  --bs-btn-hover-bg: var(--flying-hover-bg, #8E74E8);
}
label[ptype="Psychic"] {
  background-color: var(--psychic-bg, #F85888);
  --bs-btn-hover-bg: var(--psychic-hover-bg, #E64578);
}
label[ptype="Bug"] {
  background-color: var(--bug-bg, #A8B820);
  --bs-btn-hover-bg: var(--bug-hover-bg, #8E9A35);
}
label[ptype="Rock"] {
  background-color: var(--rock-bg, #B8A038);
  --bs-btn-hover-bg: var(--rock-hover-bg, #9E8B3D);
}
label[ptype="Ghost"] {
  background-color: var(--ghost-bg, #705898);
  --bs-btn-hover-bg: var(--ghost-hover-bg, #5A4D7A);
}
label[ptype="Dark"] {
  background-color: var(--dark-bg, #2F251E);
  --bs-btn-hover-bg: var(--dark-hover-bg, #1F1914);
}
label[ptype="Steel"] {
  background-color: var(--steel-bg, #B8B8D0);
  --bs-btn-hover-bg: var(--steel-hover-bg, #A3A3C2);
}
label[ptype="Fairy"] {
  background-color: var(--fairy-bg, #EE99AC);
  --bs-btn-hover-bg: var(--fairy-hover-bg, #D97FA1);
}
label[ptype="Dragon"] {
  background-color: var(--dragon-bg, #7038F8);
  --bs-btn-hover-bg: var(--dragon-hover-bg, #5829B8);
}
/* Add styling for the second container */
.second-container {
  padding: 20px;
}
.results {
  padding: .5rem;
  border-style: solid;
  border-color:#00000087;
  border-width: 1px;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}
